
#icon_logout {
  color: white;
  font-size: 40px;
}

#identifiant {

  text-align: center;
  vertical-align: center;
}

.nom {
  display: inline-block;
  font-family: "Permanent Marker";
  font-size: 25px;
}

#photoprofil {
  height: 120px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
}

#age {
  font-size: 20px;
}

#map {
  width: 100%;
  height: 50%;
}

#amis {
  font-size: 15px;

  font-family: "Permanent Marker";
}

#nombreamis {
  font-size: 15px;
}


