page-comments {
    #card_comments{
        position: fixed;
        bottom: 60px; 
        width: 320px;
        margin-top: 10px;
        height: 125px;
    }
    #likes{
        color: #2f4f4f !important;
    }

}
